{%extends "base.html" %}

{% block title %} Tienda De Uniformes Ruby {% endblock %}

{% block content %}
<h1>Somo los mejores por que Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci error sapiente deserunt velit harum? Laudantium autem repellendus, pariatur assumenda totam, atque itaque quam quisquam laborum deserunt quas? Provident, molestiae iste.</h1>
<div class="card" style="width: 18rem;">
  <img src="https://scontent-qro1-1.xx.fbcdn.net/v/t1.0-9/p960x960/88321400_618626498684710_2890055606255747072_o.jpg?_nc_cat=110&_nc_sid=2d5d41&_nc_eui2=AeFqi051UVReD1QePLRx_gQ0lISweE8KY5eUhLB4Twpjl1JXfmmPId4Z3ei9iGb8AQ-BrVXug3IhfP5wGc_x-NkS&_nc_ohc=eTD8vdg5b1cAX-xL8y0&_nc_ht=scontent-qro1-1.xx&_nc_tp=6&oh=96e549466f54401ac2ee367d88490da8&oe=5EE0C17C" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
</div>
{% endblock %}